#first-part {
    background-image: linear-gradient(
      45deg,
      hsl(240deg 100% 20%) 0%,
      hsl(289deg 100% 21%) 11%,
      hsl(315deg 100% 27%) 22%,
      hsl(329deg 100% 36%) 33%,
      hsl(337deg 100% 43%) 44%,
      hsl(357deg 91% 59%) 56%,
      hsl(17deg 100% 59%) 67%,
      hsl(34deg 100% 53%) 78%,
      hsl(45deg 100% 50%) 89%,
      hsl(55deg 100% 50%) 100%
    );
    border: 1px solid black; 
     width: 400px;
     height: 120px;
     color: white;
      padding: 10px 20px 20px 10px;
      font-size: 20px;
      font-weight: bold;
      margin: auto;
      text-align: center;
    }
    
    #number-entered {
      font-size: 40px;
      padding: 10px 20px;
      margin-bottom: 20px;
    }
    
    #second-part {
    background-color: white;
    border: 1px solid black;
      width: 400px;
     height: 220px;
     color: white;
      padding: 10px 20px 20px 10px;
      font-size: 15px;
      
      margin: auto;
      text-align: center;
    }
    
    #length-result {
      color: black;
    }
    
    #volume-result {
      color: black;
    }
    
    #mass-result {
      color: black;
    } 

    .headers 
    {
      font-weight: bold;
      color: black;
    }

    #input-area {
      text-align: center;
    }